body {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: "Koulen", cursive;
}

input {
  font-family: "Marck Script", cursive;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  width: 50vh;
}
