body {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    color: black;
    margin-bottom: 10px;
    user-select: none;
}

.image {
    border: solid 10px black;
    width: 40vh;
    border-radius: 5px;
    margin-top: 10px;
}