.footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 5%;
  left: 50%;
  width: 50%;
  text-align: center;
  align-content: center;
  justify-content: center;
  transform: translateX(-50%);
  border-radius: 32px;
  padding: 20px;
}

.coffee {
  margin-left: 10%;
  background-color: #5f7fff;
  font-size: 20px;
  font-family: "Grand Hotel", cursive;
  border: none;
  border-radius: 32px;
  padding: 10px 15px;
  color: white;
  width: 15rem;
  transition: all ease-in-out;
  text-decoration: none;
}

.coffee:hover {
  cursor: pointer;
  transition-delay: 100ms;
  background-color: white;
  color: #0d1b1e;
}