.footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 5%;
  left: 50%;
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
  transform: translateX(-50%);
  border-radius: 32px;
  padding: 20px;
}

.coffee {
  margin: 0;
  /* margin-left: 10%; */
  background-color: #5f7fff;
  font-size: 20px;
  font-family: "Grand Hotel", cursive;
  border: none;
  border-radius: 32px;
  padding: 10px 15px;
  color: white;
  width: 200px;
  transition: ease-in-out 0.1s;
  text-decoration: none;
}

.tryAgainBtn {
  background: none;
  border: 2px solid #29524A;
  color: #29524A;
  transition: ease-in-out 0.1s;
}

.tryAgainBtn:hover {
  background-color: white ;
  color: #0d1b1e;
  border: none;
}

.coffee:hover {
  cursor: pointer;
  background-color: white;
  color: #0d1b1e;
}

@media (max-width: 1000px) {
  .footer {
    bottom: 10%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
  }
  .coffee {
    margin-left: 0;
    /* margin-top: 10px; */
  }
}

@media (max-width: 480px) {
  .footer {
    width: 90%;
    row-gap: 10px;
    font-size: 16px;
  }
  .coffee {
    font-size: 16px;
    width: 150px;
  }
}