@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Koulen&family=Marck+Script&display=swap");

body {
  margin: 0;
  font-family: "Koulen", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Koulen", cursive;
}
